@using PrezentationLayer.Service
<!-- footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright mb-0">
                    Copyright
                    <script>document.write(new Date().getFullYear())</script> &copy; @Config.CompanyName. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>