@model List<ArticleViewModel>
<div class="container">
    @foreach (var article in Model)
    {
    <article>
        <h2>@article.Title</h2>
        <h3>@article.Subtitle</h3>
        <div><img src="~/images/@article.TitleImagePath"></div>
        <form asp-controller="Article" asp-action="Delete" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@article.Id" name="Id" />
            <input type="submit" value="Удалить" />
        </form>
    </article>
    }
</div>